<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8">
      <h1>Confirm your booking</h1>
      <br>
      <p>
        <strong>Title:</strong>
        <%= @lesson.title %>
      </p>
      <p>
        <strong>Teacher:</strong>
        <%= @lesson.user.name %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @lesson.address %>
      </p>
      <p>
        <strong>City:</strong>
        <%= @lesson.city %>
      </p>
      <p>
        <strong>Date:</strong>
        <%= @lesson.class_day %>
      </p>
      <p>
        <strong>Duration:</strong>
        <%=  (@lesson.lesson_end - @lesson.lesson_start).to_i / 60 %>
        min.
      </p>
      <p>
        <strong>Price:</strong>
        <%= @lesson.price %> € per person.
      </p>


      <%= simple_form_for([@lesson, @booking]) do |f| %>
        <%= f.button :submit, class: 'blue-button' %>
      <% end %>
    </div>
  </div>
</div>

