  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="perimeter-card col-12 col-md-6 col-xl-4">
        <%= link_to lesson, target: :_blank do %>
          <div class="card-lesson">
            <% if lesson.photo.present? %>
              <div class="card-lesson-header" style="background-image: url('<%= cl_image_path lesson.photo.key, height: 300, width: 400, crop: :fill %>')">
                  <p class="lesson-location"><i class="fas fa-map-marker-alt"></i> <%= lesson.city %></p>
              </div>
            <% else  %>
              <div class="card-lesson-header">
                  <p class="lesson-location"><i class="fas fa-map-marker-alt"></i> <%= lesson.city %></p>
              </div>
            <% end %>

            <div class="lesson-info">
              <div class="lesson-day">
                <i class="fas fa-calendar-day"></i> <%= lesson.class_day.strftime("%A, %b %d") %>
              </div>
              <%# TODO: Show diferent time if is minutes or hours %>
              <div>
                <h2><%= lesson.title %></h2>
                <div class="details-info">
                  <p><i class="fas fa-clock"></i> <%= ((lesson.lesson_end - lesson.lesson_start)/60).to_i %> min.</p>
                  <% if lesson.bookings.size < lesson.student_limit %>
                    <p><i class="fas fa-user"></i> <%= lesson.bookings.size %> / <%= lesson.student_limit %></p>
                  <% else %>
                  <p class="class-completed">COMPLETED</p>
                  <% end %>
                </div>
              </div>

              <div class="lesson-price">
                <h2><%= lesson.price %>€</h2>
                <p>per person</p>
              </div>
              <%#= image_tag "avatar.jpg" %>
            </div>
          </div>
        <% end %>
        <% if policy(lesson).edit? %>
          <%= link_to edit_lesson_path(lesson), class: "blue-button btn-edit" do %>
            <i class="far fa-edit"></i> Edit
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
