<div class=cont-xl>
  <div class="container">

    <%# Header with links %>
    <div class="row lesson-header">
    <%#TODO: Put the title down in SM size %>
      <h1 class="col-sm-12 col-md-6"><%= @lesson.title %></h1>
      <div class="lessons-menu col-sm-12 col-md-6">
        <% if current_user == @lesson.user %>
          <%= link_to edit_lesson_path(@lesson), class: "btn-link" do %>
            <i class="far fa-edit"></i> Edit
          <% end %>
        <% end %>
        <% if current_user == @lesson.user %>
          <%= link_to @lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-link" do %>
            <i class="fas fa-trash-alt"></i> Delete
          <% end %>
        <% end %>
        <%= link_to lessons_path, class: "blue-button" do %>
          <i class="fas fa-undo"></i> Back
          <% end %>
      </div>
    </div>

    <%# Description and teacher %>
    <div class="row show-info justify-content-md-center">
      <div class="lesson-show-description col-md-12 col-lg-8">
        <h3>Description</h3>
        <p>
          <%= @lesson.description %>
        </p>
        <div class="lesson-show-teacher">
          <%= image_tag "avatar.png", class: "avatar-xl" %>
          <div>
            <h3><%= @lesson.user_id %></h3>
            <%# TODO: Insert description user %>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium esse ad incidunt qui quis. Illo aut, explicabo, voluptas adipisci consequuntur cumque minus obcaecati cum alias tempora voluptates! Accusamus, vero dolorum.
            </p>
          </div>
        </div>
      </div>

      <%# Card with booking info %>
      <div class="reservation-summary col-sm-12 col-md-8 col-lg-4">
        <div>
          <h2><i class="fas fa-map-marker-alt"></i> <%= @lesson.location %></h2>
          <h2><i class="fas fa-calendar-day"></i> <%= @lesson.start_lesson.strftime("%A, %b %d") %></h2>
          <h2><i class="fas fa-clock"></i> <%= @lesson.start_lesson.strftime("%-k:%M") %> - <%= @lesson.end_lesson.strftime("%-k:%M") %></h2>
          <h2><strong><%= @lesson.price %> €</strong> <small>per person.</small></h2>
        </div>
          <% if current_user != @lesson.user %>
            <%= link_to 'Book Now!', new_lesson_booking_path(@lesson), class: "blue-button" %>
          <% end %>
      </div>
    </div>

    <%# Display map %>
    <div class="map">
    </div>
  </div>



</div>

