<div class=cont-xl>
  <div class="container">

    <%# Header with links %>
    <div class="row lesson-header">
    <%#TODO: Put the title down in SM size %>
      <h1 class="col-6"><%= @lesson.title %></h1>
      <div class="lessons-menu col-6">
        <% if current_user == @lesson.user %>
          <%= link_to edit_lesson_path(@lesson), class: "btn-link" do %>
            <i class="far fa-edit"></i> Edit
          <% end %>
        <% end %>
        <% if current_user == @lesson.user %>
          <%= link_to @lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-link" do %>
            <i class="fas fa-trash-alt"></i> Delete
          <% end %>
        <% end %>
        <%= link_to lessons_path, class: "blue-button" do %>
          <i class="fas fa-undo"></i> Back
          <% end %>
      </div>
    </div>

    <%# Description and teacher %>
    <div class="row show-info justify-content-md-center">
      <div class="lesson-show-description col-md-12 col-lg-8">
        <h3>Description</h3>
        <p>
          <%= @lesson.description %>
        </p>
        <div class="lesson-show-teacher">
          <%= image_tag "avatar.png", class: "avatar-xl" %>
          <div>
            <h3><%= @lesson.user.name %></h3>
            <%# TODO: Insert description user %>
            <p>
              <%= @lesson.user.description %>
            </p>
          </div>
        </div>
      </div>

      <%# Card with booking info %>
      <div class=" col-sm-12 col-md-8 col-lg-4">
        <div class="reservation-summary">
          <div>
            <h2><i class="fas fa-map-marker-alt"></i> <%= @lesson.city %></h2>
            <h2><i class="fas fa-calendar-day"></i> <%= @lesson.class_day.strftime("%A, %b %d") %></h2>
            <h2><i class="fas fa-clock"></i> <%= @lesson.lesson_start.strftime("%-k:%M") %> - <%= @lesson.lesson_end.strftime("%-k:%M") %></h2>
            <h2><i class="fas fa-user"></i> <%= @lesson.bookings.size %> / <%= @lesson.student_limit %></h2>
            <h2 class="lesson-price"><strong><%= @lesson.price %> €</strong> <small>per person.</small></h2>
          </div>
            <% if current_user != @lesson.user %>
              <% if @lesson.bookings.size < @lesson.student_limit %>
                <%= link_to 'Book Now!', new_lesson_booking_path(@lesson), class: "blue-button" %>
              <% else %>
                <h2 class="class-completed">COMPLETED</h2>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>

    <%# Display map %>

</div>

